@charset "utf-8";
/* CSS Document */

body {
	background-color:white;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	text-align:center;
}
h3 {
	text-shadow: 1px 1px #888;
}
input {
	cursor:pointer;
	cursor:hand;
}
label {
	cursor:pointer;
	cursor:hand;
	max-width:20em;
	min-height: 2em;

}
.link {
	cursor:pointer;
	cursor:hand;
}
button {
	cursor:pointer;
	cursor:hand;
}
div.scrollable {
	overflow:auto;
}
nav {
	background-color:black;
	text-align:center;
	height:3em;
	position:relative;
	top:0em;
	left:0em;
	right:0em;
	overflow:visible;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.tab {
	color: white;
	width: 33.33%;
	float: left;
	text-align: center;
	line-height: 3em;
	height: 3em;
	overflow: visible;
	cursor:pointer;
	cursor:hand;
	text-shadow: 1px 1px #888;
}
/*div.tab:hover {
}*/
div.current {
	background-color:#9BF;
	color: black;
	/*border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;*/
}
footer {
	background-color:#F42;
	position:fixed;
	right:0em;
	left:0em;
	bottom:0em;
	height:3em;
	text-align:center;
}
div.content {
	position:relative;
	display: none;
	height: 15em;
	background-color: #9BF;
	padding: .5em;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.schedule {
	text-align: center;
	position: relative;
	top: 0em;
	left: 0em;
	bottom: 0em;
	right: 0em;
}
div.schedule::-webkit-scrollbar {
	display:none;
}
div.foofooter {
	height: 3em;
	float: left;
	width: 100%;
}
div.content::-webkit-scrollbar {
	display:none;
}
div.full {
	position: relative;
	right: 0em;
	left: 0em;
	bottom: 3em;
	top: 3em;
}
div.centered {
	display:block;
	margin: auto;
}
div.courses { 
	max-width: 175px;
	height: 45px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px #888;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.quarter { 
	display:inline-block;
	vertical-align: top;
	margin-right: 10px;
	text-shadow: 1px 1px #888;
}
div.year { 
	border: 2px solid black;
	border-radius: 20px;
	width: 70%;
	max-width: 630px;
	float: left;
	padding: 15px;
	padding-top: 0;
	margin: 20px;
	margin-right: 0px;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.key {
	border: 2px solid black;
	border-radius: 20px;
	width: 200px;
	float: right;
	padding: 15px;
	margin: 20px;
	margin-left: 0px;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.engineering { 
	background-color: lightgreen;
}
div.core { 
	background-color: #FF917E;
}
div.mathsci {
	background-color: #D4E2FF;
}
div.navpill{
	float:left;
	background-color:white;
	line-height: 2em;
	text-align:center;
	margin:.3125em;
	margin-bottom:.625em;
	overflow:visible;
	border-radius:.3125em;
	padding-left: 10px;
	padding-right: 10px;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}

input.hidden-checkbox {
	display: none;
}

div.active {
	background-color: black;
	color: white;
}

div.disabled {
	background-color: black;
	opacity: 0.5;
	color: white;
}


@media print {
	nav, div.content, footer, div.key, div.foofooter, #schedule-title {
		display: none !important;
	}

   @page {  
 		size:8.5in 11in;
  }  
}