@charset "utf-8";
/* CSS Document */

body {
	background-color:white;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
	text-align:center;
}
input {
	cursor:pointer;
	cursor:hand;
}
label {
	cursor:pointer;
	cursor:hand;
}
button {
	cursor:pointer;
	cursor:hand;
}
div.scrollable {
	overflow:auto;
}
nav {
	background-color:black;
	text-align:center;
	height:3em;
	position:relative;
	top:0em;
	left:0em;
	right:0em;
	overflow:visible;
}
div.tab {
	color: white;
	width: 33.33%;
	float: left;
	text-align: center;
	line-height: 3em;
	height: 3em;
	overflow: visible;
	cursor:pointer;
	cursor:hand;
}
/*div.tab:hover {
}*/
div.current {
	background-color:#9BF;
	color: black;
	/*border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;*/
}
footer {
	background-color:#F42;
	position:absolute;
	right:0em;
	left:0em;
	bottom:0em;
	height:3em;
	text-align:center;
}
div.content {
	position:relative;
	display: none;
	height:15em;
	background-color:#9BF;
	padding: .5em;
}
div.schedule {
	text-align: center;
	position: relative;
}
div.content::-webkit-scrollbar {
	display:none;
}
div.full {
	position: relative;
	right: 0em;
	left: 0em;
	bottom: 3em;
	top: 3em;
}
.transfer {
	display:block;
	margin:auto;
}

.centered {
	display:block;
	margin: auto;
}

.title {
	margin-bottom: 10px;
}

.menu { 

}

.progLangExp {
	padding: 20px;
	/*background-color: white;*/
}
.courses { 
	width: 200px;
	height: 40px;
	text-align: center;
	margin: 3px;
	border-radius: 10px;
	padding: 4px;	
}
#fall { 
	display:inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#winter {
	display:inline-block;
	vertical-align:top;
    margin-right: 10px;
	}
#spring {
	vertical-align: top;
	display:inline-block;
		}
.year { 
	border: 2px solid black;
	width:750px;
	height:280px;
	position: relative;
	display: block;
	margin: auto;
	padding: 30px;
}

.stitle {
	margin: 10px;
}

.engineering { 
	background-color: lightgreen;
}
.core { 
	background-color: #FF917E;
}
.mathsci {
	background-color: #D4E2FF;
}
div.navpill{
	min-height: 2em;
	float:left;
	max-width:10em;
	background-color:white;
	text-align:center;
	padding-left:.625em;
	padding-right:.625em;
	margin:.3125em;
	margin-bottom:.625em;
	overflow:visible;
	border-radius:.3125em;
	-moz-box-shadow: 1px 5px 10px #888;
	-webkit-box-shadow: 1px 5px 10px #888;
	box-shadow: 1px 5px 10px #888;
}
div.lh {
	line-height: 2em;
}
div.long {
	max-width:50%; 
	margin-left: auto !important;
	margin-right: auto !important;
}
div.block {
	float: none;
}