@charset "utf-8";
/* CSS Document */

div.schedule { 
	display: block;
	float: none;
	margin-left: 10px;
	margin-right: 10px;
}

div.year {
	width: 85%;
	margin: auto;
}
div.key {
	width: 100%;
	display: block;
}

div.content {
	height: auto;
	min-height: 13em;
}